

<div class="jumbotron jumbotron-fluid plans">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="display-3">win a Google Home, Chromecast Ultra and a year of nbn™</h1>
        <p class="lead">Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.<br />
        </p>
        <p>
        <a class="terms">T&Cs apply.</a>
        </p>
        <p>
        <button type="button" class="btn btn-primary sign-up">sign up  ></button>
        </p>
      </div>
      <div class="col-4 ">
        <%=image_tag("Header_Image.png", class: "align-middle")%>
        <!-- <img src="/images/Header_Image.png" alt=""> -->
      </div>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row plans">
    <div class="col">
      <div class="row">


        <div class="col-2">
          <%=image_tag("lock.svg",size: "48x40")%>
        </div>
        <div class="col-10">
          <p>no lock-in contracts
  Freedom to switch your plan or cancel at anytime.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">


        <div class="col-2">
          <%=image_tag("join.svg",size: "48x40")%>
        </div>
        <div class="col-10">
          <p>nbn broadband plans
Unlimited data with superfast speeds. No lock-in contracts.</p>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="row">
        <div class="col-2">
          <%=image_tag("app.svg",size: "48x40")%>
        </div>
        <div class="col-10">
          <p>data-only plans
Mobile broadband for your tablets and devices, for use in Oz.</p>
        </div>
      </div>

    </div>
  </div>
</div><!-- end contatiner-fluid -->
<!-- heights change with screen size  -->
<div class="container -fluid">
  <div class="row plans"><!-- plans options -->
    <div class="col boxes"id= "b1">
      <h2>sim-only mobile plans</h2>
      <div class="call-box">
        <div class="summary">
          <p>Unlimited standard talk & text with heaps of data for use in Oz.</p>
        </div>

      </div>
      <%=image_tag("mobile plans.png",width: "100%", class: "flush") %>
      <div class="box-bottom">
        <a href="#">data-only plans</a>
      </div>
    </div>
    <div class="col boxes"id= "b2">
        <h2>nbn broadband plans</h2>
        <div class="call-box">
          <div class="summary">
            <p>Unlimited data with superfast speeds. No lock-in contracts.</p>
          </div>
        </div>
        <%=image_tag("nbn plans.png",width: "100%", class: "flush") %>
        <div class="box-bottom">
          <a href="#">nbn plans</a>
        </div>
    </div>
    <div class="col boxes"id= "b3">
          <h2>data-only plans</h2>
          <div class="call-box">
            <div class="summary">
              <p>Mobile broadband for your tablets and devices, for use in Oz.</p>
            </div>
          </div>
          <%=image_tag("data plans.png",width: "100%", class: "flush") %>
      <div class="box-bottom">
        <a href="#">mobile plans</a>
      </div>
    </div>
  </div><!-- plans options -->
</div>

<div class="jumbotron jumbotron-fluid plans">
  <div class="container cus-rating">
    <div class="row">
      <div class="col-2">
        <%=image_tag("award.png",width: "100%", class: "flush image-fluid") %>
      </div>
      <div class="col-7">
        <h2>93% of our customers have recommended amaysim to their mates</h2>
        <br>
        <h6>NPS tracking survey of 2679 customers, May 2017</h6>
      </div>
      <div class="col-3 righty">
        <button type="button bg-purple" class="btn btn-primary cus">compare plans > </button>
      </div>
    </div>
  </div>
</div>

<div class="bg-white plans">
  <div class="container">
    <div class="row">
      <h2 class="what-we">what we've been up too</h2>
    </div>
    <div class="row ">
      <div class="col myBox">
        <h2>we've been named best VNO</h2>
        <p>Delivering on the promises that we made to Aussies 6 years ago.</p>
        <button type="button" class="btn btn-primary compare ">read all about it ></button>
      </div>
      <div class="col nextBox">
        <h6>What a two year mobile phone contract will really cost you</h6>
        <p>14 Sep 2016 in Tech Talk</p>
        <h6>Check out our new and improved Help section</h6>
        <p>14 Sep 2016 in Plans & Services</p>
        <h6>AS YOU GO credit now lasts for 365 days</h6>
        <p>16 Aug 2016 in Plans & Services</p>
      </div>
    </div>

  </div>

</div>
<div class="bg-white plans">

  <div class="container quarter">
    <h2 class="what-we">already with amaysim?</h2>
    <div class="row">


      <div class="col" id="activate-sim">

        <p>active sim</p>
      </div>
      <div class="col" id="recharge-plan">

        <p>recharge plan</p>
      </div>
      <div class="col" id="manage-account">

        <p>manage account</p>
      </div>
      <div class="col" id="need-help">

        <p>need help</p>
      </div>
    </div>
  </div>

</div>

<div class="bg-white end-bit">
  <div class="container">
    <div class="row links">
      <div class="col-2">
        <a href="#">Check coverage</a><br>
        <a href="#">Fina a store</a><br>
        <a href="#">Recharge</a><br>
      </div>
      <div class="col-2">
        <a href="#">Investor centre</a><br>
        <a href="#">Media centre</a><br>
        <a href="#">Carreers</a><br>

      </div>
      <div class="col-2">
        <a href="#">Live chat or Email</a><br>
        <a href="#">Complaints</a><br>
        <a href="#">Terms&Policies</a><br>

      </div>
      <div class="col-2">
        <a href="#">Blog</a><br>
        <a href="#">Refer a freind</a><br>
        <a href="#">SIM cards</a><br>
      </div>
      <div class="col-4">

      </div>
    </div>
  </div>
</div>

<h1>homepage</h1>
<p>welcome home</p>
